.view-container {
  margin-left: 115px;
  margin-right: 115px;
}

.header {
  height: 88px;
  overflow: hidden;
  padding: 20px 10px;
  margin-left: 115px;
  margin-right: 115px;
  position: sticky;
}

.header-right {
  float: right;
  height: inherit;
}

.items-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  grid-gap: 30px;
  max-width: calc(75vw-260px);
}
.grid-item {
    box-shadow: 5px 5px 5px 5px#e6ccff;
  border: 1px solid white;
  font-size: 30px;
  text-align: center;
  height: 440px;
  border-radius: 20px;
  /* width: 30%; */
  max-width: 260px;
  
}

.grid-item:hover {
    background-color: #e6ccff;
    box-shadow: none;
}

.filter-item {
  border: 1px solid #e6ccff;
  padding: 0 20px;
  font-size: 30px;
  text-align: center;
  height: 440px;
  border-radius: 20px;
  top: 0;
  left: 0;
  position: relative;
  min-width: 240px;
}
.nav .nav-item .nav-link {
  position: relative;
  color: #737373;
  font-size: 14px;
}

.nav-li {
  margin-right: 48px;
  color: white;
  font-size: 16px;
}

a:hover {
  color: #aac2e1 !important;
  text-decoration: none;
}

.btn-link {
  padding: 5px 10px;
  border: none;
  background: none;
}
.navigation {
  height: 46px;
  background-color: #9933ff;
  padding: 12px 115px;
  position: sticky;
}

.path {
  position: relative;
  margin-left: 115px;
  margin-right: 115px;
  padding: 10px 0;
  height: 82px;
  background-color: white;
}

.breadcrumb-item .breadcrumb {
    background-color: white !important;
    color: #26004d;
}
.promo {
  position: relative;
  /* margin-left: 115px; */
  /* margin-right: 115px; */
  background-image: url("../items/promo.svg");
  height: 348px;
  width: calc(100vw - 260px);
  background-size: contain;
  background-repeat: no-repeat;
}

.promo-txt {
  color: #330066;
  position: absolute;
  bottom: 60px;
  left: 60px;
  font-size: 16px;
}

.item-image {
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    left: 0;
}

.item-body {
    height: 190px;
    border-top: 1px solid #aac2e1  ;
    padding: 20px;
    color: #26004d;
    text-align: left;
}

.item-brand {
    
    font-size: 14px;
    color: #aac2e1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
      
}

.item-name {
    text-align: left;
    font-size: 16px;
    color: #26004d;
    float: left;
    height: 70px;
    width: 220px;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    
}

.item-price {
    text-align: left;
    font-size: 24px;
    color: #260047;
    float: left;
    bottom: 0;
    margin-top: 20px;

}

.footer {
  height: 400px;
  background-color: #26004d;
  color: white;
  position: relative;
  bottom: 0;
  width: 100% !important;
}

.page-container {
  position: relative;
  min-height: 100%;
  overflow-y: hidden;
}

table {
    width: 100%;
}

